.text-container{
    margin-top: 9rem;
    text-align: center;
    padding: 15px;
    background: var(--color-bg2);
    width: 16rem;
    border-left: 3px solid white;
    position: relative;
    left: 39rem;
}
.gallery_container{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    
} 
.photo{
    height: 100%;
}